.header {
  align-items: center;
  background-color: white;
  box-shadow: 0 0 4px black;
  display: flex;
  flex-direction: row;
  height: 68px;
  padding: 0 16px;
}

/*
.header__logo {
  width: 60px;
}

.header__title {
  color: #333333;
  line-height: 1;
  margin-left: 8px;
}

.subtitle {
  font-weight: normal;
  font-size: 14px;
}

.hero {
  align-items: center;
  background-image: url('assets/hero.jpg');
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
  height: 270px;
  width: 100vw;
  z-index: -1;

  @media (min-width: 720px) {
    height: 600px;
  }
}

.hero__text {
  color: white;
  font-size: 28px;
  text-align: center;

  @media (min-width: 720px) {
    font-size: 48px;
  }
}

.highight {
  background-color: #3e96d8;
  padding: 0 8px;
}

.section--tagline {
  background-color: #F5F5F5;
  padding: 16px;
}

.tagline__text {
  color: #333333;
  line-height: 1.4;
  text-align: center;
}
*/
