/*
.section--tagline {
  background-color: #F5F5F5;
  padding: 16px;
}

.tagline__text {
  color: #333333;
  line-height: 1.4;
  text-align: center;
}
*/

.highlight {
  background-color: #3e96d8;
  padding: 0 8px;
}
